include inc_head
include topbar

body
  h2 #{album.name}
  a(href='#', onclick='return addAlbumToQueue(#{album.id})') Add Full Album
  ul#songs
    for song in songs
      li(class='song') 
        a(href='#', onclick='return addSongToQueue(#{song.id})') #{song.name}
  include inc_foot
