include inc_head

body
  include topbar
  div(class="container", id="main_content")
    h2 #{artist.name}
    ul#albums
      for album in albums
        li(class='album') 
          a(href='/album/#{album.id}') #{album.name}
include inc_foot
script
  notifyUserOnNewQueuedSongs();