!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/jquery.gritter.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600')
    style(type='text/css')
      #main_content {
        position: relative;
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      #ti {
        padding-top: 9px;
      }