!!!
html
  head
    title= title
    noscript
      | <meta http-equiv="refresh" content="0; url=/without-js" />
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='javascript', href='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    link(rel='javascript', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/playa.js')
    
  body!= body