!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='javascript', href='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    link(rel='javascript', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    link(rel='javascript', href='http://js.pusher.com/1.11/pusher.min.js')

    
  body!= body