include inc_head

body
  include topbar
  div(class="container", id="main_content")

    h2 Now Playing
    div#nowPlaying

    h2 Queue
    div#queue
  
include inc_foot
script
  listenNowPlayingUpdates();
  listenQueueUpdates();
  notifyUserOnNewQueuedSongs();
