include inc_head

body
  include topbar
  div(class="container", id="main_content")
    div(class="row")
      div(class="span2")
        include sidebar
      div(class="span10")
        p
          button(class="btn btn-large btn-primary", href="#", onclick="return playerIncVolume()") Volume Up
        p
          button(class="btn btn-large btn-primary", href="#", onclick="return playerDecVolume()") Volume Down

include inc_foot